/* Estilos generales */
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos generales para dispositivos de escritorio */
@media only screen and (min-width: 768px) {

/* Encabezado */
.header {
    background: #f5d24a;
    padding: 0px 15px; /* Ajustar el espaciado alrededor del encabezado */
    height: fit-content;
    display: flex; /* Convertir el encabezado en un contenedor flex */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Contenedor de la imagen */
.logo-container {
    flex: 0 0 15%; /* Establecer el contenedor como no flexible y con un ancho máximo del 15% */
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
    padding-right: 0px; /* Espacio a la derecha del logo */
}

/* Logo */
.header img {
    max-width: 100%; /* Ajustar la anchura de la imagen al máximo del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Título "ALF" */
.ALF {
    font-family: "cooper", sans-serif, serif;
    color: #e53c40;
    font-size: 35px;
    margin-left: 0; /* Eliminar los márgenes predeterminados */
    text-wrap: nowrap;
}

/* Contenedor de la lista */
.menu-container {
    flex: 1; /* Hacer que el contenedor de la lista ocupe todo el espacio disponible */
    max-width: 50%;
    padding-left: 15px; /* Espacio a la izquierda del menú */
}

/* Estilos de la lista */
.menu ul {
    justify-content: space-between;
    font-family: "cooper", sans-serif, serif;
    display: flex; /* Convertir la lista en un contenedor flex */
    padding: 0px 50px 0px 10px;

}

.menu ul li {
    list-style-type: none; /* Eliminar los puntos de lista */
}

/* Estilos de los enlaces del encabezado*/
.menu a {
    color: #e53c40;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FFF, 0 -1px 0 #FFF, 1px -1px 0 #FFF, 1px 0 0 #FFF, 1px 1px 0 #FFF, 0 1px 0 #FFF, -1px 1px 0 #FFF, -1px 0 0 #FFF;
}

.menu a:hover {
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 0 -1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000, 1px 1px 0 #000000, 0 1px 0 #000000, -1px 1px 0 #000000, -1px 0 0 #000000;
}

/* Frase */
.phrase-container {
    padding: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

/* Juego */
.game {
    text-align: center;
    background-color: #f5d24a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phrase {
    font-size: 20px;
    font-weight: bold;
}

/* Campo de entrada de texto */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 70%;
}

/* Botones */
button {
    font-family: "cooper", sans-serif, serif;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff2929;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #ff0000;
    color: #f5d24a;
}

/* Feedback */
#feedback {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}

/* Puntuación */
.score-container {
    font-size: 20px;
    color: #ff0000;
    font-family: "cooper", sans-serif, serif;
    margin-top: 20px;
}

#score {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
    

}


/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 767px) {

  /* Encabezado */
.header {
    background: #f5d24a;
    padding: 10px; /* Ajustar el espaciado alrededor del encabezado */
    height: auto; /* Cambiar la altura a automático para adaptarse al contenido */
    display: flex; /* Convertir el encabezado en un contenedor flex */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Contenedor de la imagen */
.logo-container {
    flex: 0 0 5%; /* Establecer el contenedor como no flexible */
    margin-right: 10px; /* Agregar margen a la derecha */
}

/* Logo */
.header img {
    max-width: 100%; /* Ajustar la anchura de la imagen al máximo del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Título "ALF" */
.ALF {
    font-family: "cooper", sans-serif, serif;
    color: #e53c40;
    font-size: 24px; /* Reducir el tamaño de fuente para dispositivos móviles */
    margin: 0; /* Eliminar los márgenes */
}

/* Contenedor de la lista */
.menu-container {
    flex: 1; /* Hacer que el contenedor de la lista ocupe todo el espacio disponible */
    margin-left: 10px; /* Agregar margen a la izquierda */
}

/* Estilos de la lista */
.menu ul {
    font-family: "cooper", sans-serif, serif;
    display: flex; /* Convertir la lista en un contenedor flex */
    padding: 0; /* Eliminar el relleno */
    margin: 0; /* Eliminar los márgenes */
    justify-content: flex-end; /* Alinear los elementos al final del contenedor */
}

.menu ul li {
    list-style-type: none; /* Eliminar los puntos de lista */
    margin-left: 10px; /* Agregar espacio entre los elementos */
}

/* Estilos de los enlaces del encabezado*/
.menu a {
    color: #e53c40;
    font-size: 16px; /* Reducir el tamaño de fuente para dispositivos móviles */
    text-decoration: none;
}

.menu a:hover {
    color: #ffffff;
}



}


