/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
.header {
    background: #f5d24a;
    padding: 15px 0;
    text-align: center;
}

.header figure {
    margin: 0;
}

.header img {
    width: 15%;
}

.menu-links a {
    color: #e53c40;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #FFF, 0 -1px 0 #FFF, 1px -1px 0 #FFF, 1px 0 0 #FFF, 1px 1px 0 #FFF, 0 1px 0 #FFF, -1px 1px 0 #FFF, -1px 0 0 #FFF;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Juego */
.game {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título */
.ALF { 
    font-size: 40px;
    color: #ffcb05;
    text-align: center;
}

/* Frase */
.phrase-container {
    margin-bottom: 20px;
}

.phrase {
    font-size: 20px;
    font-weight: bold;
}

/* Campo de entrada de texto */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 70%;
}

/* Botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69512e;
    color: #ff2929;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Feedback */
#feedback {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}

/* Puntuación */
.score-container {
    margin-top: 20px;
}

#score {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}
