/* se dice en cascada porque se lee de arriba para abajo */ 


body{background-color: white;}


/* tag { propiedad: valor} */


h1{
    font-size: 50px;
    color: yellow;
}

/* Clase de los titulos, cualquier elemento del HTML que tenga clase = titulos va a tener color aquamarine  */
.titulos{

    color:aquamarine;
}

#ultima{
    color:brown;
}

/* medidas relativas */

/* 
em, ex, ch, rem, vw, vh, vmin, vmax, % buscar en internet las fuentes pero son medidas relativas que ayudan al design
*/

.flex-container{
    display: flex;
    flex-direction: row; /* tambien se puede poner row-reverse, column y column-reverse. El reverse basicamente invierte el orden de los elementos dentro del compartimiento */ 
    flex-wrap: wrap;
}





