body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.game {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.tab-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8dc6ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.tab-button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

header {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}



h1 {
    color: #333;
}

.phrase-container {
    margin-bottom: 20px;
}

.phrase {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 70%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}

.score-container {
    margin-top: 20px;
}

#score {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}
